html {
    height: 100%;
    width: 100%;
    background-color: black;
}
.div_body {
    height: 100%;
    width: 100%;
}
body {
    text-align: center;
    height: 100%;
    width: 100%;
}

header {
    border: solid 0px;
    height: 100%;
    background-color: black;
    color: white;
    border-left: solid 1px;
}
header .div_nav {
    height: 100%;
}
header .nav1 {
    height: 90%;
}
header div {

}
header li {
    list-style: none;
    padding: 0 0 20px 0;

}
header .nav2{
    height: 10%;
}

article {
    height: 100%;
    background-color: black;
    color: white;
    border-left: solid 1px;
    border-right: solid 1px;
}
article .article_home {
    display: block;
    margin: 0 0 1 0;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    text-align: left;
    font-family: "Segoe UI";
    font-weight: bold;
}
article .article_form ul {
    height: 160px;
}
article .article_form li {
    margin: 10px 10px 0 0;
}
.confirm_li {
    margin-top: 20px;
    padding-top: 20px;
    float: right;
}
article li {
    list-style: none;
    text-align: left;
    height: 40px;
}
article div {
    border-bottom: solid 1px;
}
td, th {
    padding: 10px 0 0 10px;
    text-align: left;
    border-bottom: solid 1px;
    border-top: solid 1px;
    width: 100%;
    height: 62px;
}
.t_hov {
    position: relative; 
}
.t_hov:hover .t_del {
    display: block;
}
.t_del {
    position: absolute; 
    display: none;
    padding: 2px;
    background-color:  black;
    width:180px;
    left: -1%;
    font-size: 80%;
}
.t_del:after {
    position: absolute; 
    right: -12%;
}
.t_hov:hover .t_edi {
    display: block;
}
.t_edi {
    position: absolute; 
    display: none;
    padding: 2px;
    background-color: black;
    width:180px;
    left: -1%;
    font-size: 80%;
}
.t_edi:after {
    position: absolute; 
    right: -12%;
}

.article_footer {
    border-bottom: none;
}

.div_asside {
    height: 100%;
    background-color: black;
    color: white;
    border-left: solid 1px;
    border-right: solid 1px;
}
aside {
    background-color: black;
    color: white;
    height: 80%;
    border-bottom: solid 1px;
}
aside h1 {
    margin: 0;
}

footer {
    background-color: black;
    color: white;
    height: 20%;
}

footer h1 {
    margin: 1px;
}